$color-primary-cyan: hsl(171, 66%, 44%);
$color-primary-blue: hsl(233, 100%, 69%);
$color-neutral-gray: hsl(201, 11%, 66%);
$color-neutral-dark-gray: hsl(210, 10%, 33%);
$font-size: 1.125em;
$font-family: "Bai Jamjuree", Arial, sans-serif;

body {
    font-family: $font-family;
    margin: 0;
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.button {
    font-family: $font-family;
    font-size: 18px;
    width: 230px;
    height: 55px;
    color: #fff;
    border: 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-radius: 25px;
    &--cyan {
        margin-right: 10px;
        border-bottom-color: hsl(171, 66%, 40%);
        background-color: $color-primary-cyan;
        box-shadow: 0 15px 15px -15px $color-primary-cyan;
    }

    &--blue {
        border-bottom-color: hsl(233, 100%, 65%);
        background-color: $color-primary-blue;
        box-shadow: 0 15px 15px -15px $color-primary-blue;
    }

    &:hover {
        cursor: pointer;
        filter: brightness(120%) saturate(75%);
    }
}

.document-intro {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 50px;
    text-align: center;
    &__title {
        font-size: 44px;
        margin-bottom: 15px;
        color: $color-neutral-dark-gray;
    }

    &__body {
        font-size: 20px;
        color: $color-neutral-gray;
    }
}

.section-header {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 50px;
    text-align: center;
    &__title {
        font-size: 35px;
        margin-bottom: 15px;
        color: $color-neutral-dark-gray;
    }

    &__body {
        font-size: 18px;
        line-height: 30px;
        color: $color-neutral-gray;
    }
}

.feature {
    &__title {
        font-size: 24px;
        color: $color-neutral-dark-gray;
    }

    &__body {
        font-size: 16px;
        line-height: 30px;
        margin: 0;
        color: $color-neutral-gray;
    }
}

// Intro
.intro-section {
    margin-top: 140px;
    margin-bottom: 110px;
    text-align: center;
}

.logo {
    width: 125px;
    height: 125px;
}

// Cloud
.cloud-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
}

.cloud-content-container {
    display: flex;

    .image-container {
        position: relative;
        overflow: hidden;
        width: 50%;
        height: 575px;
        white-space: nowrap;
        .large-image {
            position: absolute;
            right: 0;
            width: auto;
            height: 100%;
        }
    }
}

.cloud-features-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 50px;
}

.cloud-feature {
    max-width: 380px;
    margin-top: 25px;
    margin-bottom: 16px;
    margin-left: 110px;
    &__title {
        margin-bottom: 10px;
    }
}

// Access
.access-section {
    margin-bottom: 70px;
    text-align: center;
    .section-header {
        margin-bottom: 60px;
    }

    .image-container {
        width: 75%;
        max-width: 905px;
        margin: 0 auto;
    }

    .large-image {
        width: 100%;
        height: auto;
    }
}

// Workflow
.workflow-section {
    margin-top: 0;
    margin-bottom: 150px;
    text-align: center;
    .section-header {
        margin-bottom: 50px;
    }
}

.workflow-features-container {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
    padding: 0 50px;
}

.workflow-feature {
    display: grid;
    max-width: 350px;
    text-align: center;
    grid-auto-columns: auto;
    grid-template-rows: 70px minmax(45px, auto) auto;
    &:not(:last-of-type) {
        margin-right: 30px;
    }

    img {
        width: auto;
        height: calc(100% - 35px);
        margin: 0 auto;
    }

    &__title {
        margin: 0;
    }
}

// Partners
.partners-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
    padding: 0 50px;
    img {
        margin: 0 50px 60px;
    }
}

// Final
.final-section {
    margin-bottom: 120px;
    text-align: center;
}

// Footer
.footer {
    margin: 0;
    padding: 50px 50px 25px;
    background-color: hsl(180, 3%, 94%);
}

.footer-content-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
    height: fit-content;
    margin: 0 auto;
}

.logo-footer {
    width: 60px;
    height: 60px;
    margin-right: 150px;
}

.footer-links {
    font-size: 18px;
    display: grid;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    grid-template-columns: 175px 175px 175px;
    grid-template-rows: 40px 40px;
    grid-auto-flow: column;
    a {
        text-decoration: none;
        color: $color-neutral-dark-gray;
        &:hover {
            color: $color-primary-cyan;
        }
    }
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0;
    margin-left: auto;
    padding-left: 0;
    list-style-type: none;
    li {
        position: relative;
        width: 24px;
        height: 24px;
        &:not(:last-of-type) {
            margin-right: 25px;
        }
    }

    a {
        line-height: 30px;
        position: absolute;
        top: 0;
        width: 24px;
        height: 24px;
        filter: grayscale(100%) brightness(60%);
        &:hover {
            filter: none;
        }
    }
}

.attribution {
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    color: $color-neutral-gray;
    a {
        text-decoration: none;
        color: $color-neutral-dark-gray;
        &:hover {
            color: $color-primary-cyan;
        }
    }
}

@media only screen and (max-width: 1024px) {
    // Cloud
    .cloud-content-container {
        .image-container {
            height: 475px;
        }
    }

    .cloud-feature {
        margin-left: 50px;
    }

    // Workflow
    .workflow-features-container {
        flex-direction: column;
    }

    .workflow-feature {
        &:first-of-type {
            margin-top: 50px;
        }

        &:not(:last-of-type) {
            margin-right: 0;
            margin-bottom: 100px;
        }
    }

    // Footer
    .footer-content-container {
        align-items: flex-start;
        flex-direction: column;
    }

    .logo-footer {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .footer-links {
        margin-bottom: 50px;
    }

    .social-links {
        margin-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-image: url("../images/bg-header-mobile.png");
    }

    .button {
        margin-right: 0;

        &:last-of-type {
            margin-top: 20px;
        }
    }

    .button-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    // Cloud
    .cloud-content-container {
        align-items: center;
        flex-direction: column;
        .image-container {
            position: initial;
            display: flex;
            justify-content: center;
            width: 75%;
            max-width: initial;
            height: initial;
            .large-image {
                position: initial;
                width: 100%;
                height: auto;
            }
        }
    }

    .cloud-features-container {
        align-items: center;
        width: 100%;
        padding-right: 0;
    }

    .cloud-feature {
        margin-left: 0;
        text-align: center;
    }

    // Footer
    .footer-links {
        grid-template-columns: 175px;
        grid-auto-rows: 40px;
        grid-auto-flow: row;
    }

    .attribution {
        text-align: left;
    }
}

@media only screen and (max-width: 425px) {
<<<<<<< Updated upstream
=======
    .document-intro {
        padding-right: 0;
        padding-left: 0;
        &__title {
            font-size: 32px;
        }

        &__body {
            font-size: 18px;
        }
    }

    .section-header {
        &__title {
            font-size: 28px;
        }
    }

    .document-intro__body,
    .feature__body {
        font-size: 18px;
    }

>>>>>>> Stashed changes
    section,
    footer {
        padding-right: 30px;
        padding-left: 30px;
    }

    .button {
        width: 100%;
    }

    .section-header {
        padding-right: 0;
        padding-left: 0;
    }

    .image-container {
        width: 100% !important;
    }

    // Intro
    .intro-section {
        margin-top: 110px;
        margin-bottom: 125px;
    }

    // Cloud
    .cloud-section {
        margin-bottom: 160px;
    }

    .cloud-feature {
        margin-top: 0;
    }

    // Access
    .access-section {
        margin-bottom: 90px;
    }

    // Workflow
    .workflow-features-container {
        padding-right: 0;
        padding-left: 0;
    }

    // Partners
    .partners-section {
        margin-bottom: 120px;
    }

    // Footer
    .footer-content-container {
        align-items: center;
    }

    .footer-links {
        text-align: center;
        grid-auto-rows: 50px;
    }

    .social-links {
        li:not(:last-of-type) {
            margin-right: 45px;
        }
    }

    .attribution {
        text-align: center;
    }
}
