body {
  font-family: "Bai Jamjuree", Arial, sans-serif;
  margin: 0;
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.button {
  font-family: "Bai Jamjuree", Arial, sans-serif;
  font-size: 18px;
  width: 230px;
  height: 55px;
  color: #fff;
  border: 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-radius: 25px;
}

.button--cyan {
  margin-right: 10px;
  border-bottom-color: #23a995;
  background-color: #26baa4;
  -webkit-box-shadow: 0 15px 15px -15px #26baa4;
          box-shadow: 0 15px 15px -15px #26baa4;
}

.button--blue {
  border-bottom-color: #4d61ff;
  background-color: #6173ff;
  -webkit-box-shadow: 0 15px 15px -15px #6173ff;
          box-shadow: 0 15px 15px -15px #6173ff;
}

.button:hover {
  cursor: pointer;
  -webkit-filter: brightness(120%) saturate(75%);
          filter: brightness(120%) saturate(75%);
}

.document-intro {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 50px;
  text-align: center;
}

.document-intro__title {
  font-size: 44px;
  margin-bottom: 15px;
  color: #4c545d;
}

.document-intro__body {
  font-size: 20px;
  color: #9fabb2;
}

.section-header {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 50px;
  text-align: center;
}

.section-header__title {
  font-size: 35px;
  margin-bottom: 15px;
  color: #4c545d;
}

.section-header__body {
  font-size: 18px;
  line-height: 30px;
  color: #9fabb2;
}

.feature__title {
  font-size: 24px;
  color: #4c545d;
}

.feature__body {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  color: #9fabb2;
}

.intro-section {
  margin-top: 130px;
  margin-bottom: 110px;
  text-align: center;
}

.logo {
  width: 125px;
  height: 125px;
}

.cloud-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 130px;
}

.cloud-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cloud-content-container .image-container {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 575px;
  white-space: nowrap;
}

.cloud-content-container .image-container .large-image {
  position: absolute;
  right: 0;
  width: auto;
  height: 100%;
}

.cloud-features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-right: 50px;
}

.cloud-feature {
  max-width: 380px;
  margin-top: 25px;
  margin-bottom: 16px;
  margin-left: 110px;
}

.cloud-feature__title {
  margin-bottom: 10px;
}

.access-section {
  margin-bottom: 80px;
  text-align: center;
}

.access-section .section-header {
  margin-bottom: 90px;
}

.access-section .image-container {
  width: 75%;
  max-width: 905px;
  margin: 0 auto;
}

.access-section .large-image {
  width: 100%;
  height: auto;
}

.workflow-section {
  margin-top: 0;
  margin-bottom: 150px;
  text-align: center;
}

.workflow-section .section-header {
  margin-bottom: 60px;
}

.workflow-features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0 50px;
}

.workflow-feature {
  display: -ms-grid;
  display: grid;
  max-width: 350px;
  text-align: center;
  grid-auto-columns: auto;
  -ms-grid-rows: 80px 40px auto;
      grid-template-rows: 80px 40px auto;
}

.workflow-feature:not(:last-of-type) {
  margin-right: 30px;
}

.workflow-feature img {
  width: auto;
  height: 40px;
  margin: 0 auto;
}

.workflow-feature__title {
  margin: 0;
}

.partners-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
  padding: 0 50px;
}

.partners-section img {
  margin: 0 50px 60px;
}

.final-section {
  margin-bottom: 140px;
  text-align: center;
}

.footer {
  margin: 0;
  padding: 50px 50px 25px;
  background-color: #eff0f0;
}

.footer-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}

.logo-footer {
  width: 60px;
  height: 60px;
  margin-right: 150px;
}

.footer-links {
  font-size: 18px;
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  -ms-grid-columns: 175px 175px 175px;
      grid-template-columns: 175px 175px 175px;
  -ms-grid-rows: 40px 40px;
      grid-template-rows: 40px 40px;
  grid-auto-flow: column;
}

.footer-links a {
  text-decoration: none;
  color: #4c545d;
}

.footer-links a:hover {
  color: #26baa4;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  margin-left: auto;
  padding-left: 0;
  list-style-type: none;
}

.social-links li {
  position: relative;
  width: 24px;
  height: 24px;
}

.social-links li:not(:last-of-type) {
  margin-right: 25px;
}

.social-links a {
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  -webkit-filter: grayscale(100%) brightness(60%);
          filter: grayscale(100%) brightness(60%);
}

.social-links a:hover {
  -webkit-filter: none;
          filter: none;
}

.attribution {
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
  color: #9fabb2;
}

.attribution a {
  text-decoration: none;
  color: #4c545d;
}

.attribution a:hover {
  color: #26baa4;
}

@media only screen and (max-width: 1024px) {
  .cloud-content-container .image-container {
    height: 475px;
  }
  .cloud-feature {
    margin-left: 50px;
  }
  .workflow-features-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .workflow-feature:first-of-type {
    margin-top: 50px;
  }
  .workflow-feature:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 100px;
  }
  .footer-content-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-footer {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .footer-links {
    margin-bottom: 50px;
  }
  .social-links {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
  .button {
    margin-right: 0;
  }
  .button:last-of-type {
    margin-top: 20px;
  }
  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cloud-content-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cloud-content-container .image-container {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 75%;
    max-width: initial;
    height: initial;
  }
  .cloud-content-container .image-container .large-image {
    position: initial;
    width: 100%;
    height: auto;
  }
  .cloud-features-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-right: 0;
  }
  .cloud-feature {
    margin-left: 0;
    text-align: center;
  }
  .footer-links {
    -ms-grid-columns: 175px;
        grid-template-columns: 175px;
    grid-auto-rows: 40px;
    grid-auto-flow: row;
  }
  .attribution {
    text-align: left;
  }
}

@media only screen and (max-width: 425px) {
  .document-intro {
    padding-right: 0;
    padding-left: 0;
  }
  .document-intro__title {
    font-size: 32px;
  }
  .document-intro__body {
    font-size: 18px;
  }
  .section-header__title {
    font-size: 28px;
  }
  .feature__body {
    font-size: 18px;
  }
  section,
  footer {
    padding-right: 30px;
    padding-left: 30px;
  }
  .button {
    width: 100%;
  }
  .section-header {
    padding-right: 0;
    padding-left: 0;
  }
  .image-container {
    width: 100% !important;
  }
  .intro-section {
    margin-top: 110px;
    margin-bottom: 125px;
  }
  .cloud-section {
    margin-bottom: 160px;
  }
  .cloud-feature {
    margin-top: 0;
  }
  .access-section {
    margin-bottom: 90px;
  }
  .workflow-section {
    margin-bottom: 40px;
  }
  .workflow-features-container {
    padding-right: 0;
    padding-left: 0;
  }
  .workflow-feature img {
    height: 34px;
  }
  .partners-section {
    margin-bottom: 120px;
  }
  .footer-content-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-links {
    text-align: center;
    grid-auto-rows: 50px;
  }
  .social-links li:not(:last-of-type) {
    margin-right: 45px;
  }
  .attribution {
    text-align: center;
  }
}
