body {
  font-family: "Bai Jamjuree", Arial, sans-serif;
  margin: 0;
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

p,
li {
  font-size: 1.125em;
  line-height: 30px;
  color: #9fabb2;
}

.large-text {
  font-size: 1.27em;
}

h1,
h2,
h3 {
  color: #4c545d;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.5em;
}

.button {
  font-family: "Bai Jamjuree", Arial, sans-serif;
  font-size: 1.125em;
  width: 230px;
  height: 55px;
  color: #fff;
  border: 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-radius: 25px;
}

.button--cyan {
  margin-right: 10px;
  border-bottom-color: #23a995;
  background-color: #26baa4;
  -webkit-box-shadow: 0 15px 15px -15px #26baa4;
          box-shadow: 0 15px 15px -15px #26baa4;
}

.button--blue {
  border-bottom-color: #4d61ff;
  background-color: #6173ff;
  -webkit-box-shadow: 0 15px 15px -15px #6173ff;
          box-shadow: 0 15px 15px -15px #6173ff;
}

.button:hover {
  cursor: pointer;
  -webkit-filter: brightness(120%) saturate(75%);
          filter: brightness(120%) saturate(75%);
}

.section-header {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.section-header__title {
  margin-bottom: 15px;
}

.intro-section {
  margin-top: 140px;
  margin-bottom: 110px;
  text-align: center;
}

.logo {
  width: 125px;
  height: 125px;
}

.cloud-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 130px;
}

.cloud-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cloud-content-container .image-container {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 575px;
  white-space: nowrap;
}

.cloud-content-container .image-container .large-image {
  position: absolute;
  right: 0;
}

.cloud-features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.cloud-feature {
  max-width: 380px;
  margin-top: 25px;
  margin-left: 110px;
}

.cloud-feature h3 {
  margin-bottom: 10px;
}

.cloud-feature p {
  margin-top: 0;
}

.access-section {
  margin-bottom: 70px;
  text-align: center;
}

.access-section .section-header {
  margin-bottom: 60px;
}

.access-section .image-container {
  width: 75%;
  max-width: 905px;
  margin: 0 auto;
}

.access-section .large-image {
  width: 100%;
  height: auto;
}

.workflow-section {
  margin-top: 0;
  margin-bottom: 150px;
  text-align: center;
}

.workflow-section .section-header {
  margin-bottom: 50px;
}

.workflow-features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.workflow-feature {
  display: -ms-grid;
  display: grid;
  max-width: 350px;
  text-align: center;
  grid-auto-columns: auto;
  -ms-grid-rows: 75px 60px auto;
      grid-template-rows: 75px 60px auto;
}

.workflow-feature:not(:last-of-type) {
  margin-right: 30px;
}

.workflow-feature img {
  width: auto;
  height: calc(100% - 35px);
  margin: 0 auto;
}

.workflow-feature h3,
.workflow-feature p {
  margin: 0;
}

.workflow-feature p {
  font-size: 1em;
}

.partners-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.partners-section img {
  margin: 0 50px 60px;
}

.final-section {
  margin-bottom: 120px;
  text-align: center;
}

.footer {
  margin: 0;
  padding: 50px 0 25px;
  background-color: #eff0f0;
}

.footer-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 0 50px;
}

.logo-footer {
  width: 60px;
  height: 60px;
  margin-right: 150px;
}

.footer-links {
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  -ms-grid-columns: 175px 175px 175px;
      grid-template-columns: 175px 175px 175px;
  -ms-grid-rows: 40px 40px;
      grid-template-rows: 40px 40px;
  grid-auto-flow: column;
}

.footer-links a {
  text-decoration: none;
  color: #4c545d;
}

.footer-links a:hover {
  color: #26baa4;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  margin-left: auto;
  padding-left: 0;
  list-style-type: none;
}

.social-links li,
.social-links a {
  width: 24px;
  height: 24px;
}

.social-links li {
  position: relative;
}

.social-links li:not(:last-of-type) {
  margin-right: 25px;
}

.social-links a {
  position: absolute;
  top: 0;
  -webkit-filter: grayscale(100%) brightness(60%);
          filter: grayscale(100%) brightness(60%);
}

.social-links a:hover {
  -webkit-filter: none;
          filter: none;
}

.attribution {
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: #4c545d;
}

.attribution a:hover {
  color: #26baa4;
}
